.Order {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
    border: 1px solid grey;
    height: 300px;
    min-width: 200px;
    margin: 5px;
}