.MenuItem {
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    text-align: left;
}

.MenuItem-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
}

.MenuItem-icon {
    width: 30px;
    height: 30px;
}

.MenuItem-descr {
    display: inline-block;
    vertical-align: top;
}