.OrderItem {
    position: relative;
    padding: 5px 0;
    text-align: right;
}

.OrderItem span{
    padding: 0 5px;
    text-transform: capitalize;
}

.OrderItem-name{

}

.OrderItem-btn {
    background-color: red;
    color: #ffffff;
}